@import "reset.css";

/* @font-face
{
  font-family:tisa;
  src:local("TisaPro-Bold"), url('fonts/TisaPro-Bold.otf');
} */

html
{
  font:.9em/1.5 "helvetica neue", helvetica, arial, "nimbus sans l", sans-serif; 
  color:#222;       
  background:#ddd;
  margin:1em;
}

a
{
  color:#ffbd9c;
  font-weight:normal;
  text-decoration:none;
}

p
{
  margin:1.2em 0;  
}

h1 {
  font-size:2em;
  margin: 1em 0;
}

.log {
  clear:both;
}

.control-panel {
  display:block;
  position:fixed;
  right:1em;
  top:1em;
  background-color:rgba(255,255,255,.5);
  -moz-border-radius:6px;
  border-radius:6px;
  padding:0 1em;
  width:10em;
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.2);
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,.2);
  box-shadow:2px 2px 2px rgba(0,0,0,.2);
  -webkit-transition:background-color 1s linear;
  -moz-transition:background-color 1s linear;
  -o-transition:background-color 1s linear; 
}

.control-panel.idle { background-color:rgba(255,255,255,.9); }
.control-panel.building { background-color:rgba(255,240,195,.9); }
.control-panel.succeeded { background-color:rgba(177,229,177,.8); }
.control-panel.failed { background-color:rgba(255,100,100,.8); }

button.build {
  width:100%;
}

button.kill {
  display:none;
}

.status {
  font-size:1.4em;
  text-align:center;
  margin:0.7em 0;
}

.actions {
  margin:0;
}

.builds {
  text-align:center;
  font-family: "Courier New" Courier monospace;
  font-size:0.8em;
  text-shadow:1px 1px 0 rgba(0,0,0,1);
}

.builds .succeeded {
  color:#009900;
}

.builds .failed {
  color:#990000;
}